body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(43, 0, 255);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.exercise-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background: white;
}
